@mixin  material-border {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

.box-shadow {
  @include material-border;
}

.card {
  background: $white;
  padding: 2rem;
  @include material-border;
}
